* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html body {
  font-family: "Montserrat", "sans-serif";
  background: #F6F6F6;
  line-height: 1.3;
  margin: 0;
  min-height: 100vh;
}

html body .container {
  max-width: 1856px;
  margin: 0 auto;
  min-height: 100%;
}

@media screen and (max-width: 1856px) {
  html body .container {
    padding-left: 20px;
    padding-right: 18px;
  }
}

html body .container .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

html body a {
  text-decoration: none;
  color: #000;
}

html body ul {
  list-style: none;
}

html body button {
  border: none;
  outline: none;
}

html body input {
  outline: none;
}

html body input::-webkit-outer-spin-button,
html body input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html body select {
  outline: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0 15px;
}

.header__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 32px 0;
  border-left: 1px solid #CDDAF1;
  border-right: 1px solid #CDDAF1;
}

.header__social-list .header__social-list-element {
  padding-left: 16px;
}

.header__social-list .header__social-list-element:nth-child(1) {
  padding-left: 0;
}

.header__title {
  font-weight: 575;
  line-height: 36.57px;
  font-size: 30px;
  text-transform: lowercase;
  letter-spacing: -0.5px;
  padding-left: 32px;
}

.header__contact-number {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-right: 32px;
}

@media screen and (max-width: 768px) {
  .auth-page {
    background: #fff;
  }
}

@media screen and (max-width: 768px) {
  .auth-page .header {
    display: none;
  }
}

.auth-page .authorization-block {
  background-size: cover;
  height: 874px;
  border-radius: 25px;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media screen and (max-width: 768px) {
  .auth-page .authorization-block {
    background: none;
    padding-top: 32px;
    height: auto;
  }
}

.auth-page .authorization-block .tablet-title {
  display: none;
}

@media screen and (max-width: 768px) {
  .auth-page .authorization-block .tablet-title {
    display: block;
    font-size: 30px;
    font-weight: 575;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 53px;
  }
}

.auth-page .authorization-block__title-block {
  padding: 66px 0 0 64px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (max-width: 768px) {
  .auth-page .authorization-block__title-block {
    display: none;
  }
}

.auth-page .authorization-block__title-block h2 {
  font-weight: 575;
  font-size: 30px;
  line-height: 36.57px;
}

.auth-page .authorization-block__title-block p {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.auth-page .authorization-block__form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  color: #000;
  background: #FFFFFF;
  border-radius: 16px;
}

@media screen and (max-width: 970px) {
  .auth-page .authorization-block__form-block {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    left: 50%;
    right: 0;
  }
}

@media screen and (max-width: 768px) {
  .auth-page .authorization-block__form-block {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding: 0;
    margin-left: 3px;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.auth-page .authorization-block__form-block h3 {
  padding-top: 4px;
  margin-bottom: 14px;
  letter-spacing: 1px;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .auth-page .authorization-block__form-block h3 {
    letter-spacing: 0px;
    margin-bottom: 12px;
  }
}

.auth-page .authorization-block__form-block p {
  font-size: 13px;
}

.auth-page .authorization-block__form-block a {
  color: #054EDB;
  margin-left: 2px;
}

.auth-page .authorization-block__form-block select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 9.5px 16px;
  background: none;
  position: relative;
}

.auth-page .authorization-block__form-block .input-block {
  position: relative;
  margin-bottom: 11px;
}

.auth-page .authorization-block__form-block .auth-input-label {
  font-size: 13px;
  color: #8B96B1;
  line-height: 175%;
  font-weight: 400;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.auth-page .authorization-block__form-block input ~ label,
.auth-page .authorization-block__form-block select ~ label {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  position: absolute;
  top: 12.5px;
  left: 16px;
}

@media screen and (max-width: 1560px) {
  .auth-page .authorization-block__form-block input ~ label,
  .auth-page .authorization-block__form-block select ~ label {
    top: 9.5px;
  }
}

.auth-page .authorization-block__form-block input:focus ~ label,
.auth-page .authorization-block__form-block input.filled ~ label,
.auth-page .authorization-block__form-block select:focus ~ label,
.auth-page .authorization-block__form-block select.filled ~ label {
  top: -2px;
  left: 0;
}

.auth-page .authorization-block__form-block select ~ img {
  position: absolute;
  width: 9px;
  right: 20px;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media screen and (max-width: 768px) {
  .auth-page .authorization-block__form-block select ~ img {
    right: 20px;
  }
}

.auth-page .authorization-block__form-block input:focus ~ img,
.auth-page .authorization-block__form-block input.filled ~ img,
.auth-page .authorization-block__form-block select:focus ~ img,
.auth-page .authorization-block__form-block select.filled ~ img {
  top: 42px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.auth-page .authorization-block__form-block input:focus,
.auth-page .authorization-block__form-block select:focus {
  border-color: #054EDB;
}

.auth-page .authorization-block__form-block input:focus ~ label,
.auth-page .authorization-block__form-block select:focus ~ label {
  color: #054EDB;
}

.auth-page .authorization-block__form-block input:focus,
.auth-page .authorization-block__form-block input.filled,
.auth-page .authorization-block__form-block select:focus,
.auth-page .authorization-block__form-block select.filled {
  margin-top: 20px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.auth-page .authorization-block__form {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 97%;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .auth-page .authorization-block__form {
    margin-top: 34px;
  }
}

.auth-page .authorization-block__form input, .auth-page .authorization-block__form select {
  padding: 9.5px 16px;
  width: 100%;
  border: 1px solid #CDDAF1;
  border-radius: 16px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #171717;
  font-weight: 400;
  font-size: 13px;
  line-height: 22.75px;
  letter-spacing: 1px;
}

.auth-page .authorization-block__form .password-block {
  position: relative;
}

.auth-page .authorization-block__form .password-block input {
  padding-right: 40px;
}

.auth-page .authorization-block__form .password-block img {
  position: absolute;
  width: 17px;
  right: 20px;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media screen and (max-width: 768px) {
  .auth-page .authorization-block__form .password-block img {
    right: 20px;
  }
}

.auth-page .authorization-block__form button {
  background: #171717;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  padding: 13px 21px 10px;
  border-radius: 16px;
  border: none;
  letter-spacing: 1px;
  margin-top: -1px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .auth-page .authorization-block__form button {
    margin-bottom: 0px;
    padding-top: 15px;
  }
}

.auth-page .authorization-block__form a {
  font-size: 13px;
  color: #8B96B1;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .auth-page .authorization-block__form a {
    border: 1px solid #8B96B1;
    border-radius: 16px;
    padding: 12px 10px;
    font-size: 14px;
  }
}

.sign-up-page .authorization-block {
  background: url("../../../images/jpg/sign_up_bg.jpg") center no-repeat;
}

@media screen and (max-width: 768px) {
  .sign-up-page .authorization-block {
    background: none;
    height: auto;
  }
}

.sign-up-page .authorization-block__title-block {
  color: #000;
}

@media screen and (min-width: 769px) {
  .sign-up-page .authorization-block__form-block {
    width: 696px;
    top: 174px;
    right: 12.5%;
    padding: 23px 1px 32px 25px;
  }
}

.sign-up-page .authorization-block__form-block h3 {
  margin-bottom: 15px;
  letter-spacing: 1.3px;
}

.sign-up-page .authorization-block__form-block .subscribe-input {
  display: block;
  position: relative;
  margin: 14px auto 0;
  padding-left: 27px;
  margin-bottom: 6px;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sign-up-page .authorization-block__form-block .subscribe-input input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.sign-up-page .authorization-block__form-block .subscribe-input .checkmark {
  position: absolute;
  top: -3px;
  left: -3px;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 5px;
}

.sign-up-page .authorization-block__form-block .subscribe-input .checkmark:after {
  content: "";
  position: absolute;
  background: url("../../../images/svg/checked.svg") no-repeat center;
  background-size: 20px 10px;
  display: none;
  width: 20px;
  height: 20px;
}

.sign-up-page .authorization-block__form-block .subscribe-input input:checked ~ .checkmark {
  background-color: #171717;
}

.sign-up-page .authorization-block__form-block .subscribe-input input:checked ~ .checkmark:after {
  display: block;
}

.sign-up-page .authorization-block__form-block button {
  width: 49%;
  margin: 0 auto 9px;
}

@media screen and (max-width: 768px) {
  .sign-up-page .authorization-block__form-block button {
    width: 100%;
  }
}

.sign-up-page .authorization-block__form-block .cancel-link {
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .sign-up-page .authorization-block__form-block .cancel-link {
    width: 100%;
    color: #171717;
  }
}

.sign-up-page .authorization-block__form {
  margin-top: 24px;
}

.sign-up-page .authorization-block__form .birthday-inputs-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sign-up-page .authorization-block__form .birthday-inputs-block .input-block-day {
  width: 22%;
}

.sign-up-page .authorization-block__form .birthday-inputs-block .input-block-month {
  width: 51%;
}

.sign-up-page .authorization-block__form .birthday-inputs-block .input-block-year {
  width: 23%;
}

.sign-up-page .authorization-block__inputs-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .sign-up-page .authorization-block__inputs-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.sign-up-page .authorization-block__left-side, .sign-up-page .authorization-block__right-side {
  width: 49%;
}

@media screen and (max-width: 768px) {
  .sign-up-page .authorization-block__left-side, .sign-up-page .authorization-block__right-side {
    width: 100%;
  }
}

.sign-up-page .authorization-block__left-side .input-block-month {
  height: 100%;
}

.sign-up-page .authorization-block__right-side .right-side-flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sign-up-page .authorization-block__right-side .right-side-flex-box .input-block:nth-child(1) {
  width: 41%;
  margin-right: 6px;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .sign-up-page .authorization-block__right-side .right-side-flex-box .input-block:nth-child(1) {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .sign-up-page .authorization-block__right-side .right-side-flex-box .input-block:nth-child(2) {
    width: 50%;
  }
}

.sign-in-page .authorization-block {
  background: url("../../images/jpg/authorization_bg.jpg") center no-repeat;
}

@media screen and (max-width: 768px) {
  .sign-in-page .authorization-block {
    background: none;
    padding-top: 32px;
    height: auto;
  }
}

.sign-in-page .authorization-block__title-block {
  color: #fff;
}

@media screen and (min-width: 769px) {
  .sign-in-page .authorization-block__form-block {
    padding: 24px 12px 32px 24px;
    width: 363px;
    right: 232px;
    top: 270px;
  }
}

.sign-in-page .authorization-block__form-block h3 {
  margin-bottom: 14px;
  letter-spacing: 1px;
}

@media screen and (max-width: 768px) {
  .sign-in-page .authorization-block__form-block h3 {
    letter-spacing: 0px;
    margin-bottom: 12px;
  }
}

.sign-in-page .authorization-block__form-block .input-block {
  margin-bottom: 1px;
}

.sign-in-page .authorization-block__form-block .input-block input {
  padding-bottom: 6px;
}

.sign-in-page .authorization-block__form-block button {
  margin-bottom: 8px;
}

.sign-in-page .authorization-block__form {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 97%;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .sign-in-page .authorization-block__form {
    margin-top: 34px;
  }
}

.sign-in-page .authorization-block__form input,
.sign-in-page .authorization-block__form select {
  padding: 13.5px 16px;
  width: 100%;
  border: 1px solid #CDDAF1;
  border-radius: 16px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #171717;
  font-weight: 400;
  font-size: 13px;
  line-height: 22.75px;
  letter-spacing: 1px;
}

.sign-in-page .authorization-block__form .password-block {
  position: relative;
}

.sign-in-page .authorization-block__form .password-block input {
  padding-right: 40px;
}

.sign-in-page .authorization-block__form .password-block img {
  position: absolute;
  width: 17px;
  right: 20px;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media screen and (max-width: 768px) {
  .sign-in-page .authorization-block__form .password-block img {
    right: 20px;
  }
}

.sign-in-page .authorization-block__form button {
  background: #171717;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  padding: 13px 21px 10px;
  border-radius: 16px;
  border: none;
  letter-spacing: 1px;
  margin-top: -1px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .sign-in-page .authorization-block__form button {
    margin-bottom: 0px;
    padding-top: 15px;
  }
}

.sign-in-page .authorization-block__form .cancel-link {
  font-size: 13px;
  color: #8B96B1;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .sign-in-page .authorization-block__form .cancel-link {
    border: 1px solid #8B96B1;
    border-radius: 16px;
    padding: 12px 10px;
    font-size: 14px;
  }
}

.main-nav-block {
  background: #fff;
  margin-top: 24px;
  margin-bottom: 32px;
  border-radius: 24px;
}

@media screen and (max-width: 1300px) {
  .main-nav-block {
    margin-bottom: 0;
  }
}

.main-nav-block ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav-block .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 9px 15px;
}

@media screen and (max-width: 1300px) {
  .main-nav-block .main-nav {
    display: none;
  }
}

.main-nav-block .main-nav input {
  padding: 13px 95px 13px 53px;
  border-radius: 15px;
  border: 1px solid #D4E3FF;
}

@media screen and (max-width: 1560px) {
  .main-nav-block .main-nav input {
    padding-right: 10px;
  }
}

.main-nav-block .main-nav__search-block {
  position: relative;
}

.main-nav-block .main-nav__search-block img {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.main-nav-block .main-nav__search-block input::-webkit-input-placeholder {
  letter-spacing: 2.2px;
  color: #8B96B1;
  font-size: 15px;
  font-weight: 400;
}

.main-nav-block .main-nav__search-block input:-ms-input-placeholder {
  letter-spacing: 2.2px;
  color: #8B96B1;
  font-size: 15px;
  font-weight: 400;
}

.main-nav-block .main-nav__search-block input::-ms-input-placeholder {
  letter-spacing: 2.2px;
  color: #8B96B1;
  font-size: 15px;
  font-weight: 400;
}

.main-nav-block .main-nav__search-block input::placeholder {
  letter-spacing: 2.2px;
  color: #8B96B1;
  font-size: 15px;
  font-weight: 400;
}

.main-nav-block .main-nav__catalog {
  width: 61.5%;
}

@media screen and (max-width: 1560px) {
  .main-nav-block .main-nav__catalog {
    margin: 0;
  }
}

.main-nav-block .main-nav__catalog ul li {
  font-weight: 500;
  line-height: 21.94px;
  font-size: 18px;
  color: #171717;
  width: 120px;
  margin-right: 25px;
  text-align: center;
}

@media screen and (max-width: 1560px) {
  .main-nav-block .main-nav__catalog ul li {
    margin: 0;
    width: 50%;
  }
}

.main-nav-block .main-nav__catalog ul li:nth-child(4) {
  width: 38px;
  margin: 0 70px 0 46px;
}

@media screen and (max-width: 1560px) {
  .main-nav-block .main-nav__catalog ul li:nth-child(4) {
    margin: 0 30px;
  }
}

.main-nav-block .main-nav__user-interface {
  margin-top: 3px;
}

.main-nav-block .main-nav__user-interface ul li:nth-child(1) {
  padding-right: 24px;
}

@media screen and (max-width: 1560px) {
  .main-nav-block .main-nav__user-interface ul li:nth-child(1) {
    padding-right: 10px;
    margin-left: 10px;
  }
}

.main-nav-block .main-nav__user-interface ul li:nth-child(2) {
  border-left: 1px solid #E6E8EC;
  border-right: 1px solid #E6E8EC;
  padding: 0 24px;
}

@media screen and (max-width: 1560px) {
  .main-nav-block .main-nav__user-interface ul li:nth-child(2) {
    padding: 0 10px;
  }
}

.main-nav-block .main-nav__user-interface ul li:nth-child(3) {
  padding-left: 24px;
  margin-right: 15px;
}

@media screen and (max-width: 1560px) {
  .main-nav-block .main-nav__user-interface ul li:nth-child(3) {
    padding-left: 10px;
    margin-right: 15px;
  }
}

.main-nav-block .mobile-main-nav__list {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 8px 0;
}

@media screen and (max-width: 768px) {
  .main-nav-block .mobile-main-nav__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1300px) {
  .main-nav-block .mobile-main-nav__list {
    display: none;
  }
}

.main-nav-block .mobile-main-nav__list .mobile-main-nav__icon {
  width: 20px;
}
