.footer {
    border-radius: 24px;
    background-color: #fff;
    margin-bottom: 24px;
    padding: 48px 64px;
    display: flex;
    gap: 130px;

    @media screen and (max-width: 1120px) {
        gap: 65px;
    }

    @media screen and (max-width: 970px) {
        gap: 32px;
    }

    @media screen and (max-width: 800px) {
        flex-direction: column;
        padding: 32px 20px;
    }

    @media screen and (max-width: $tablets) {
        flex-direction: column;
        padding: 32px 20px;
        margin-bottom: 0;
    }

    .links-offers {
        font-size: 14px;
        font-weight: 400;
        line-height: 17.07px;
    }

    &__contacts-block {
     

        &__mobile {
            @media screen and (min-width: 800px) {
                display: none;
            }
        }

        .contact-number {
            font-size: 20px;
            font-weight: 500;
            line-height: 24.38px;
            margin-bottom: 31px;
        }

        .contact-email {
            @extend .contact-number;
            margin-bottom: 31px;
            display: block;
        }

        .social-logos-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 36px;

            a {
                width: 32px;
                height: 32px;
                margin-right: 16px;

                img {
                    width: 100%;
                }
            }
        }

        .title-block {
            h6 {
                font-weight: 575;
                font-size: 22px;
                line-height: 26.82px;
                color: #000;
            }

            p {
                font-size: 13px;
                font-weight: 500;
                line-height: 15.85px;
                color: #000;
            }
        }
    }

    &__offers-block {
        display: flex;
        flex-direction: column;
        width: 222px;

        a {
            margin-bottom: 17px;
        }
    }

    &__links-block {
        display: flex;
        flex-direction: column;

        a {
            margin-bottom: 16px;
        }
    }

    &__development-block {
        display: flex;
        flex-direction: column;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        gap: 13px;

        p {
            color: $gray-label;
        }

        a {
            color: #032D80;
        }
    }
}