//fonts
$montserrat: "Montserrat", "sans-serif";


//colors
$main-black: #171717;
$auth-blue: #054EDB;
$secondary-gray-light: #CDDAF1;
$main-gray-light: #E6E8EC;
$main-gray-bg: #F6F6F6;
$gray-label: #8B96B1;


//viewports
$tablets: 768px;
$vp-1300: 1300px;
$vp-970: 970px;
$max-width: 1856px;
$vp-1560: 1560px;


//transitions
$labels: .3s ease;