.auth-page {
    @media screen and (max-width: $tablets) {
        background: #fff;
    }

    .container {
        @media screen and (max-width: $max-width) {
            padding-left: 20px;
            padding-right: 18px;
        }

        .header {
            @media screen and (max-width: $tablets) {
                display: none;
            }
        }

        .authorization-block {
            background-size: cover;
            height: 874px;
            border-radius: 25px;
            position: relative;
            flex: 1 1 auto;
    
            @media screen and (max-width: $tablets) {
                background: none;
                padding-top: 32px;
                height: auto;
            }
    
            .tablet-title {
                display: none;
    
                @media screen and (max-width: $tablets) {
                    display: block;
                    font-size: 30px;
                    font-weight: 575;
                    line-height: 37px;
                    letter-spacing: 0em;
                    text-align: left;
                    margin-bottom: 53px;
                    padding-left: 0;
                }
            }
    
            &__title-block {
                padding: 66px 0 0 64px;
                user-select: none;
    
                @media screen and (max-width: $tablets) {
                    display: none;
                }
    
                h2 {
                    font-weight: 575;
                    font-size: 30px;
                    line-height: 36.57px;
                }
    
                p {
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 24px;
                }
            }
    
            &__form-block {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                position: absolute;
                color: #000;
                background: #FFFFFF;
                border-radius: 16px;
    
                @media screen and (max-width: $vp-970) {
                    transform: translate(-50%, 0);
                    left: 50%;
                    right: 0;
                }
    
                @media screen and (max-width: $tablets) {
                    position: relative;
                    top: 0;
                    right: 0;
                    left: 0;
                    width: 100%;
                    padding: 0;
                    margin-left: 3px;
                    transform: translate(0, 0);
                }
    
                h3 {
                    padding-top: 4px;
                    margin-bottom: 14px;
                    letter-spacing: 1px;
                    font-size: 18px;
    
                    @media screen and (max-width: $tablets) {
                        letter-spacing: 0px;
                        margin-bottom: 12px;
                    }
                }
    
                p {
                    font-size: 13px;
                }
    
                a {
                    color: $auth-blue;
                    margin-left: 2px;
                }
    
            }
    
            &__form {
                margin-top: 32px;
                display: flex;
                flex-direction: column;
                width: 97%;
                gap: 10px;
    
                @media screen and (max-width: $tablets) {
                    margin-top: 34px;
                }
    
                .password-block {
                    position: relative;
    
                    input {
                        padding-right: 40px;
                    }
    
                    img {
                        position: absolute;
                        width: 17px;
                        right: 20px;
                        top: 50%;
                        transform: translate(0%, -50%);
                        cursor: pointer;
                        transition: $labels;
    
                        @media screen and (max-width: $tablets) {
                            right: 20px;
                        }
                    }
                }
    
                button {
                    background: $main-black;
                    color: #fff;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 150%;
                    padding: 13px 21px 10px;
                    border-radius: 16px;
                    border: none;
                    letter-spacing: 1px;
                    margin-top: -1px;
                    margin-bottom: 10px;
    
                    @media screen and (max-width: $tablets) {
                        margin-bottom: 0px;
                        padding-top: 15px;
                    }
                }
    
                a {
                    font-size: 13px;
                    color: $gray-label;
                    text-align: center;
    
                    @media screen and (max-width: $tablets) {
                        border: 1px solid $gray-label;
                        border-radius: 16px;
                        padding: 12px 10px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}