.category-team-page{
    .main-content-block{
        .banner{
            background: url("../../../images/jpg/banners/team_category.jpg") no-repeat center !important;

            &__title{
                color: #6B6B6B !important;
                right: 85px !important;
            }
        }
    }
}