.about-us-page {
    .main-block {
        margin-bottom: 32px !important;
        .title-block {
            background: url("../../../images/jpg/offers_bg/about_us_bg.jpg") center no-repeat;
            position: relative;
            height: 696px;
            margin-bottom: 113px;
            .logo-block {
                display: flex;
                position: absolute;
                top: 44%;
                right: 228px;

                img {
                    width: 73px;
                    margin-right: 37.5px;
                }

                .section-title {
                    color: $main-black;
                    font-size: 44px;
                    font-weight: 575;
                    line-height: 54px;
                    letter-spacing: 0em;
                    text-transform: lowercase;
                    margin-top: 12px;
                    span {
                        font-size: 25px;
                        font-weight: 500;
                        line-height: 30px;
                        letter-spacing: 0em;
                        text-align: left;
                        display: block;
                    }
                }
            }
        }

        .about-us-block{
            margin-bottom: 100px;
            .section-title{
                margin-bottom: 24px;
            }
        }
    }
}